@font-face {
        font-family: 'league-gothic.regular';
        src: url(../fonts/league-gothic.regular.ttf);
}

* {
	margin: 0;
	padding: 0;
        font-family: 'league-gothic.regular', Arial, sans-serif;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*HEADER*/

header {
	background: url(../img/header.png) no-repeat;
       	background-position: center center;
	background-size: cover;
	height: 869px;
}
.head {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
.head_logotype {
	float: left;
	background: url(../img/logo_icon.png) 100% no-repeat;
	width: 152px;
	height: 39px;
	margin-top: 72px;
}
.head_nav {
	padding-top: 74px;
}
.head_nav_menu {
	display: inline-block;
	text-align: right;
	list-style: none;
	width: 806px;
	font-size: 24px;
}

.head_nav_menu li {
	display: inline-block;
}

.head_nav_menu_item1 {
	margin-right: 47px;
	position: relative;
}

.head_nav_menu_item2 {
	margin-right: 49px;
}

.head_nav_menu_item3 {
	margin-right: 48px;
}

.head_nav_menu_item4 {
	margin-right: 49px;
}

.head_nav_menu_item5 {
	margin-right: 47px;
}

.head_nav_menu_item6 {
	margin-right: 2px;
}

.head_nav_menu li a{
	text-decoration: none;
	color: #ffffff;
}

.head_nav_menu li a:hover {
	border-bottom: 1px solid #edbfff;
}

/*HIDDEN MENU*/

.head_nav_submenu {
	display: none;
	position: absolute;
	width: 246px;
	border: 1px solid black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -o-border-radius: 10px;
	border-radius: 10px;
	background: rgba(54,41,46,0.75);
	z-index: 2; 
	top: 0;
	left: 50%;
	margin-left: -123px;
}

.head_nav_submenu .head_nav_submenu_item {
	display: block;
	float: none; 
	margin: 0; 
	text-align: center;
	border-bottom: 1px solid #35273d;
	border-top: 1px solid #695272;
}

.head_nav_submenu .head_nav_submenu_item .submenu_link {
	display: block;
	margin: 0 auto;
	line-height: 40px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
	color: white;
}

.head_nav_submenu .head_nav_submenu_item:first-child {
	border-top: none;
}

.head_nav_submenu .head_nav_submenu_item:first-child .submenu_link {
        
         -moz-border-radius: 10px 10px 0 0;
         -webkit-border-radius: 10px 10px 0 0;
	 border-radius: 10px 10px 0 0;

         -moz-border-top-left-radius: 10px;
         -webkit-border-top-left-radius: 10px;
	 border-top-left-radius: 10px; 
         line-height: 45px;
}

.head_nav_submenu .head_nav_submenu_item:last-child{
	border-bottom: none;
}

.head_nav_submenu .head_nav_submenu_item:last-child .submenu_link {
         -moz-border-bottom-right-radius: 10px;
         -webkit-border-bottom-right-radius: 10px;
	  border-bottom-right-radius: 10px;
   
	-moz-border-bottom-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
}

.head_nav_submenu .head_nav_submenu_item .submenu_link:hover {
	border-bottom: 2px solid #edbfff;
	background: rgba(54, 41, 62, 0.8);
}
/*HIDDEN MENU*/

.nav_menu {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 93px;
}
.nav_menu_switchover {
	float: right;
        list-style: none;
	margin-right: 167px;
}
.nav_menu_switchover li {
	float: left;
	position: relative;
	width: 17px;
	height: 17px;
	background-color: #3b3842;
	border-radius: 10px;
	margin-left: 5px;
}
.nav_menu_switchover li a {
	display: block;
	position: absolute;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	width: 11px;
	height: 11px;
	margin-top: -5.5px;
	margin-left: -5.5px;
}
.nav_menu_switchover li a:hover {
	background-color: #ececec;
}
.nav_menu_switchover_item2 a{
	background-color: #ececec;
}

.slider {
	height: 400px;
	margin-top: -590px;
	background-color: rgba(40, 40, 40, 0.2);
	z-index: 1;
}

.left_icon {
	float: left;
	line-height: 400px;
	padding-top: 13px;
         
}
.right_icon {
	float: right;
	line-height: 400px;
	padding-top: 13px;
}

.left_icon a,
.right_icon a {
	display: block;
}
.left_icon a>img,
.right_icon a>img {
	border: 0;
}
.mobile {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.mobile_text {
	float: left;
	margin-top: 85px;
}

.mobile_text span {
	width: 504px;
}

.mobile_text_item1 {
	font-size: 58px;
	color: white;
	text-transform: capitalize;
	line-height: 48px;
	letter-spacing: 0.1px;
}
.mobile_text_item2 {
	display: block;
	color: #edbfff;
	font-size: 32px;
	text-transform: uppercase;
}
.mobile_text_item3 {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: white;
}
.mobile_icon {
	float: right;
	margin-right: 73px;
	margin-top: -18px;
}

/*HEADER*/

/*MAIN*/
main {
	margin-top: -22px;
}
.about {
	height: 340px;
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #745083 0%, #33253a 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #745083 0%, #33253a 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #745083 0%, #33253a 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #745083), color-stop(100, #33253a));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #745083 0%, #33253a 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #745083 0%, #33253a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#745083', endColorstr='#322539', GradientType=0); /* IE6-9 */
}

.about_box,
.blog_box,
.copyright_box {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
.about_container {
	float: right;
}
.about_box1,
.about_box2, 
.about_box3 {
	width: 277px;
	height: 200px;
	float: left;
}
.about_box_text {
	background: url(../img/spritesheet.png) no-repeat;
	background-position: -70px 0px;
	color: white;
        -webkit-box-sizing: border-box;
        -moz -box-sizing: border-box;
        -o-box-sizing: border-box;
         box-sizing: border-box;
	padding-left: 33px;
}
.about_box_text--icon_blog {
	background: url(../img/spritesheet.png) no-repeat;
	background-position: -33px -35px;
}
.about_box_text--icon_music {
	background: url(../img/spritesheet.png) no-repeat;
	background-position: 0px -68px;
}
.about_box_read {
	text-align: right;
}
.about_box_read a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
.about_box_read a:hover {
	text-shadow: 0px 0px 25px #fff;
}


.about_box1 {
	margin-top: 84px;
	margin-right: 59px;
}

.title_box1 {
	margin-left: 19px;
	font-size: 29px;
	line-height: 12px;
}

.text_box1 {
	font-size: 16px;
	line-height: 19px;
	margin-left: 25px;
	margin-top: 21px;
	font-family: 'Open Sans', sans-serif;
}

.about_box_read--box1 {
	font-size: 18px;
	margin-top: 20px;
	margin-right: 12px;
}

.about_box2 {
	margin-top: 86px;
	margin-right: 62px;
}
.title_box2 {
	font-size: 30px;
	line-height: 10px;
	margin-left: 20px;
}
.text_box2 {
	margin-top: 20px;
	font-size: 16px;
	margin-left: 24px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
}
.about_box_read--box2 {
	font-size: 18px;
	margin-top: 20px;
	margin-right: 6px;
}


.about_box3 {
	margin-top: 83px;
	width: 271px;
}
.about_box_text--icon_music {
	padding-left: 53px;
}
.title_box3 {
	font-size: 30px;
	line-height: 14px;
}
.text_box3 {
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 19px;
	margin-top: 17px;
	font-family: 'Open Sans', sans-serif;
}
.about_box_read--box3 {
	margin-top: 23px;
	margin-right: 2px;
	font-size: 18px;
}


.blog {
	height: 485px;
	background-color: #f9f9f9;
	-webkit-box-shadow: inset 0px 11px 14px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 11px 14px -11px rgba(0,0,0,0.75);
	box-shadow: inset 0px 11px 14px -11px rgba(0,0,0,0.75);
}
.blog_box_message {
	float: left;
	position: relative;
        -webkit-box-sizing: border-box;
        -moz -box-sizing: border-box;
        -o-box-sizing: border-box;
	box-sizing: border-box;
	width: 428px;
	height: 273px;
	background-color: #fff;
	margin-top: 100px;
	margin-left: 25px;
	padding: 26px 38px;
}
.fotoicon {
	position: absolute;
	top: 18px;
	left: -25px;
}
.delta {
	position: absolute;
	top: 273px;
	right: 40px;
}
.blog_box_message_title {
	font-size: 30px;
	text-transform: uppercase;
	color: #454545;
}
.blog_box_message_title span {
	text-transform: uppercase;
	color: #edbfff;
}

.blog_box_message_text {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 11px;
}

.nav_menu--modify {	
	display: block;
	clear: both;
	margin-left: 22px;
	width: 428px;
}

.nav_menu_switchover--modify li {
	background-color: #fff;
	border: 1px solid #e8e8e8;
}

.nav_menu_switchover--modify li:nth-child(2) a {
	background-color: #555555;
}

.nav_menu_switchover--modify li a:hover {
	background-color: #555555;
}


.blog_box_comment {
	float: right;
	width: 440px;
	height: 268px;
	margin-top: 127px;
	margin-right: 13px;
}
.blog_box_comment p {
	text-transform: uppercase;
	font-size: 30px;
	padding-left: 3px;
}
.blog_box_comment_item1,
.blog_box_comment_item2,
.blog_box_comment_item3 {
	position: relative;
	padding-left: 70px;
}
.blog_box_comment span {
	display: block;
	font-family: 'Open Sans', sans-serif;
}
.blog_box_comment_title1 {
	margin-top: 16px;
	font-weight: bold;
	font-size: 17px;

}

.blog_box_comment_text1 {
	font-size: 15px;
	margin-top: 5px;
}

.blog_box_comment_title2 {
	font-size: 17px;
	font-weight: bold;
	margin-top: 24px;
}

.blog_box_comment_text2 {
	font-size: 15px;
	margin-top: 4px;
}

.blog_box_comment_title3 {
	font-size: 17px;
	font-weight: bold;
	margin-top: 22px;
}
.blog_box_comment_text3 {
	font-size: 15px;
	margin-top: 6px;
}
.blog_box_comment_icon1,
.blog_box_comment_icon2,
.blog_box_comment_icon3 {
	position: absolute;
	top: -4px;
	left: 3px;
}
.blog_box_comment .about_box_read--box_comment {
	font-size: 18px;
	line-height: 24px;
	padding-right: 8px;
	padding-top: 23px;
}
.blog_box_comment .about_box_read--box_comment a {
	color: black;
}

.products {
	height: 120px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #d8d8d8;
	background-color: #f9f9f9;
}
.products_box {
	width: 960px;
	height: 120px;
	margin: 0 auto;
	text-align: center;
}
.products_box p {
	line-height: 120px;
}
.products_box p img {
	vertical-align: middle;
}
.products_box p img:nth-child(n+2) {
	margin-left: 65px;
}


.copyright {
	height: 395px;
	background-color: #ececec;
}
.column {
	float: left;
	width: 285px;
	height: 210px;
}
.copyright_box_column1 {
	background: url(../img/logo_icon2.png) no-repeat;
	margin-top: 95px;
}
.copyright_box_column1_author {
	margin-top: 61px;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 16px;
}
.copyright_box_column1_text1 {
	margin-top: 13px;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	line-height: 24px;
}
.copyright_box_column2 {
	margin-top: 94px;
	margin-left: 53px;
}
.copyright_box_column2_title1 {
	font-size: 30px;
	text-transform: uppercase;
}
.copyright_box_column2_text2 {
	margin-top: 8px;
	font-size: 17px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
.copyright_box_column3 {
	margin-top: 94px;
	margin-left: 52px;
}
.copyright_box_column3_title2 {
	text-transform: uppercase;
	font-size: 30px;
	padding-left: 3px;
}
.copyright_box_column3_text3 {
	font-size: 17px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 6px;
	padding-left: 3px;
}
/*MAIN*/

/*FOOTER*/
footer {
	background: url(../img/footer.png) no-repeat;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/footer.png', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/footer.png', sizingMethod='scale')";
	background-position: center center;
	background-size: cover;
	height: 114px;
	-webkit-box-shadow: 0px 2px 22px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 22px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 22px 4px rgba(0,0,0,0.75);
} 

.foot {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.head_nav--footer {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

.head_nav_menu--footer {
	width: inherit;
	font-size: 21px;
	margin-top: 43px;
}
.nav_menu_item1--footer,
.nav_menu_item4--footer,
.nav_menu_item5--footer {
	margin-right: 37px;
}
.nav_menu_item2--footer {
	margin-right: 38px;
}
.nav_menu_item3--footer {
	margin-right: 38px;
}
.head_nav_menu--footer li a:hover {
	border-bottom: none;
}
.footer_design {
	float: right;
	margin-top: 51px;
	margin-right: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: white;
}
.footer_design span {
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
}



@media screen and (min-width:768px) and (max-width:959px) {

  .head {
    width: 768px;
  }
  .head_logotype {
    padding-left: 20px;
  }
  .head_nav {
    padding-top: 139px;
  }
  .head_nav_menu {
    float: none;
    text-align: left;
    margin-left: 18px;
    width: 751px;
  }
  .slider {
    margin-top: -624px;
    width: 100%;
  }
  .left_icon img {
    margin-left: 46px;
    padding-top: 11px;
  }
  .right_icon {
    margin-right: 48px;
    padding-top: 10px;
  }
  .mobile {
    width: 768px;
  }
  .mobile_text {
    width: 310px;
  }
  .mobile_text span {
    width: 290px;
  }


  .mobile_text_item1 {
    font-size: 47px;
    margin-left: 2%;
    line-height: 70px;
    letter-spacing: normal;
  }
  .mobile_text_item2 {
    font-size: 24px;
    margin-left: 20px;
    margin-top: -5px;
    height: 33px;
    display: inline-block;
    overflow: hidden;
  }
  .mobile_text_item3 {
    margin-left: 20px;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: normal;
    height: 101px;
    display: inline-block;
    overflow: hidden;
  }
  .mobile_icon {
    margin-right: 30px;
    margin-top: -24px;
  }
  .nav_menu {
    width: 768px;
    margin-top: 35px;
  }
  .nav_menu_switchover {
    margin-right: 144px;
  }
  main {
    margin-top: -71px;
  }
  .about_container {
    height: 340px;
    width: 768px;
  }
  .about_box {
    width: 768px;
  }
  .about_box1 {
    width: 204px;
    margin-right: 20px;
    margin-top: 81px;
    margin-left: 31px;
  }
  .title_box1,
  .title_box2,
  .title_box3 {
    font-size: 23px;
    line-height: 16px;
    margin-left: 16px;
  }
  .text_box1,
  .text_box2,
  .text_box3 {
    margin-left: 16px;
    line-height: 24px;
    margin-top: 10px;
    display: inline-block;
    height: 140px;
    overflow: hidden;
  }
  .about_box_read--box1,
  .about_box_read--box2,
  .about_box_read--box3 {
    margin-top: 5px;
    font-size: 19px;
    margin-right: 6px;
  }
  .about_box2 {
    width: 204px;
    margin-left: 28px;
    margin-top: 81px;
    margin-right: 20px;
  }
  .about_box_text--icon_blog {
    background-position: -33px -35px;;
    margin-left: 0;
  }
  .about_box3 {
    width: 204px;
    margin-left: 38px;
    margin-top: 80px;
  }
  .about_box_text--icon_music {
    background-position: 0px -68px;
    width: 204px;
    padding-left: 33px;
  }
  .blog_box {
    width: 768px;
  }
  .blog_box_message {
    width: 310px;
    margin-left: 43px;
  }
  .blog_box_message_title {
    font-size: 24px;
  }
  .blog_box_message_title span {
    display: block;
  }


  .blog_box_message_text {
    font-size: 16px;
    padding-top: 0px;
    line-height: 25px;
    width: 248px;
    display: inline-block;
    height: 145px;
    overflow: hidden;
  }
  .delta {
    display: none;
  }
  .blog_box_comment {
    width: 327px;
    margin-top: 117px;
    margin-right: 31px;
  }
  .blog_box_comment_text1,
  .blog_box_comment_text2,
  .blog_box_comment_text3 {
    font-size: 16px;
    display: block;
    height: 20px;
    overflow: hidden;
  }
  .blog_box_comment .about_box_read--box_comment {
    padding-right: 0px;
    padding-top: 15px;
  }
  .blog_box .nav_menu_switchover {
    width: 545px;
    margin-top: 11px;
    margin-right: 96px;
  }
  .blog_box .nav_menu_switchover li {
    background-color: white;
  }
  .products_box {
    width: 768px;
  }
  .products_box p img:nth-child(n+2) {
    margin-left: 55px;
  }
  .copyright_box {
    width: 768px;
  }
  .copyright_box_column1 {
    margin-left: 20px;
    width: 207px;
    height: 200px;
    overflow: hidden;
  }
  .copyright_box_column1_author {
    margin-top: 51px;
  }
  .copyright_box_column2,
  .copyright_box_column3 {
    margin-left: 58px;
    width: 207px;
    height: 200px;
    overflow: hidden;
  }
  .copyright_box_column2_title1,
  .copyright_box_column3_title2 {
    font-size: 23px;
  }
  footer {
    height: 203px;
  }
  .foot {
    width: 768px;
    height: 100%;
  }
  .footer_design {
    margin-top: 103px;
    margin-right: 10px;
  }
  .foot .head_nav--footer {
    padding: 0;
    margin-left: 18px;
    margin-top: 45px;
  }
  .foot .head_nav_menu--footer {
    margin: 0;
    width: 535px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {

  .wrapp {
    height: 3034px;
    position: relative;
  }

  .head {
    width: 480px;
  }

  .head_logotype {
    margin-top: 70px;
    margin-left: 164px;
  }

  .head_nav_menu {
    width: 480px;
  }

  .head_nav_menu_item1 {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .head_nav_menu li {
    float: none;
    display: none;
  }


  .head_nav_menu .head_nav_menu_item1 {
    display: block;
    position: relative;
    line-height: 45px;
    width: 40px;
    
  }
  .head_nav_menu .head_nav_menu_item1:hover>a {
    opacity: 0;
  }

  .head_nav_menu .head_nav_menu_item1:hover .head_nav_submenu {
    display: block;
   
  }

  .slider {
    width: 100%;
    margin-top: -665px;
    margin-left: auto;
    margin-right: auto;
    height: 245px;
  }
  .left_icon,
  .right_icon {
    line-height: 224px;
    padding-top: 22px;
  }
  .mobile {
    width: 480px;
  }
  .mobile_text .mobile_text_item1 {
    font-size: 36px;
    margin-left: 16px;
  }
  .mobile_text .mobile_text_item2 {
    font-size: 18px;
    margin-left: 16px;
    line-height: 15px;
    width: 205px;
    height: 14px;
    overflow: hidden;
  }
  .mobile_text .mobile_text_item3 {
    display: none;
  }
  .mobile_icon {
    margin-right: 12px;
    margin-top: -10px;
  }
  .mobile_icon img {
    width: 186px;
  }
  .nav_menu {
    width: 480px;
    margin-top: 0;
  }
  .nav_menu_switchover {
    margin-right: 195px;
  }
  main {
    margin-top: -320px;
  }
  .about {
    height: 595px;
  }
  .about_box {
    width: 480px;
  }
  .about_box1,
  .about_box2,
  .about_box3 {
    display: block;
    width: 445px;
    height: 130px;
    margin-right: 0;
    padding-left: 34px;
  }
  .about_box1 {
    margin-top: 79px;
  }
  .about_box2 {
    margin-top: 26px;
  }
  .about_box3 {
    margin-top: 30px;
  }
  .title_box1,
  .title_box2,
  .title_box3 {
    font-size: 24px;
    line-height: 16px;
  }
  .text_box1,
  .text_box2,
  .text_box3 {
    margin-top: 11px;
    line-height: 23px;
  }
  .about_box_read {
    margin-right: 26px;
    margin-top: 15px;
  }
  .blog {
    height: 786px;
  }
  .blog_box {
    width: 480px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .blog_box_message {
    margin-left: 45px;
    margin-top: 69px;
    width: 415px;
  }
  .blog_box_message img {
    display: block;
  }
  .blog_box_comment {
    margin-top: 85px;
    width: 346px;
    height: 245px;
    margin-right: 54px;
  }
  .blog_box_comment_text1,
  .blog_box_comment_text2,
  .blog_box_comment_text3 {
    width: 252px;
    height: 18px;
    overflow: hidden;
  }
  .nav_menu--modify {
    position: absolute;
    top: 365px;
    margin-left: 31px;
  }
  .products {
    height: 230px;
  }
  .products_box {
    width: 480px;
  }
  .products_box p {
    height: 230px;
  }
  .products_box p img:first-child {
    margin-left: 15px;
  }
  .products_box p img:nth-child(5) {
    margin-left: 39px;
  }
  .products_box p img:last-child {
    margin-right: 30px;
    margin-left: 31px;
  }
  .copyright {
    height: 670px;
  }
  .copyright_box {
    width: 480px;
  }
  .copyright_box_column1,
  .copyright_box_column2 {
    width: 440px;
    margin-left: 18px;
    margin-top: 61px;
    height: 148px;
  }
  .copyright_box_column3 {
    width: 440px;
    margin-left: 18px;
    margin-top: 28px;
    height: 148px;
  }
  .copyright_box_column1_author {
    display: none;
  }
  .copyright_box_column1_text1 {
    margin-top: 55px;
  }
  .copyright_box_column2_title1 {
    font-size: 23px;
    line-height: 17px;
  }
  .copyright_box_column3_title2 {
    font-size: 23px;
    line-height: 35px;
  }
  footer {
  height: 200px;
}
.foot {
  width: 480px;
  height: 100%;
  position: relative;
}
.footer_design {
  float: none;
  position: absolute;
  top: 70px;
  width: 152px;
  left: 50%;
  margin-left: -76px;
}
.head_nav_menu--footer {
  text-align: center;
}
.head_nav--footer .head_nav_menu--footer li {
  display: inline-block;
  line-height: 45px;
  margin-right: 0;
  width: initial;
}
}

@media screen and (min-width: 320px) and (max-width: 479px) {

  .wrapper {
    height: 2500px;
    position: relative;
  }
  .head {
    width: 320px;
  }
  .head_logotype {
    margin-left: 82px;
  }
  .head_nav_menu {
    width: 320px;
  }
  .head_nav_menu_item1 {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .head_nav_menu li {
    float: none;
    display: none;
  }
  .head_nav_menu .head_nav_menu_item1 {
    display: block;
    position: relative;
    line-height: 45px;
    width: 40px;
  }
  .head_nav_menu .head_nav_menu_item1:hover>a {
    opacity: 0;
  }
  .head_nav_menu .head_nav_menu_item1:hover .head_nav_submenu {
    display: block;
  }
  .slider {
    width: 320px;
    margin-top: -665px;
    margin-left: auto;
    margin-right: auto;
    height: 245px;
    background-color: transparent;
  }
  .left_icon,
  .right_icon {
    line-height: 224px;
    padding-top: 22px;
  }
  .mobile {
    width: 320px;
  }
  .mobile_text {
    float: none;
    margin-top: 0;
    width: 227px;
    margin: 0px auto;
    padding-top: 95px;
    text-align: center;
  }
  .mobile_text .mobile_text_item1 {
    font-size: 36px;
  }
  .mobile_text .mobile_text_item2 {
    font-size: 18px;
    margin-left: 11px;
    line-height: 15px;
    width: 205px;
    height: 14px;
    overflow: hidden;
  }
  .mobile_text .mobile_text_item3 {
    display: none;
  }
  .mobile_icon {
    display: none;
  }
  .nav_menu {
    width: 320px;
    margin: 0 auto;
    text-align: center;
  }
  .nav_menu_switchover {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: 0;
  }
  main {
    margin-top: -320px;
  }
  .about {
    height: 595px;
  }
  .about_box {
    width: 320px;
  }
  .about_box1,
  .about_box2,
  .about_box3 {
    display: block;
    width: 285px;
    height: 100px;
    margin-right: 0;
    padding-left: 34px;
    overflow: hidden;
  }
  .about_box1 {
    margin-top: 79px;
    margin-bottom: 25px;
  }
  .about_box2 {
    margin-top: 26px;
    margin-bottom: 25px;
  }
  .about_box3 {
    margin-top: 30px;
  }
  .title_box1,
  .title_box2,
  .title_box3 {
    font-size: 24px;
    line-height: 23px;
  }
  .text_box1,
  .text_box2,
  .text_box3 {
    margin-top: 11px;
    line-height: 23px;
  }
  .about_box_read {
    margin-right: 26px;
    margin-top: 15px;
  }
  .blog {
    height: 786px;
  }
  .blog_box {
    width: 320px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .blog_box_message {
    margin-left: 45px;
    margin-top: 69px;
    width: 250px;
    margin-bottom: 85px;
  }
 
  .blog_box_message img[alt="foto"] {
    display: block;
  }
  .blog_box_message_title>span {
    display: inline-block;
  }
  .blog_box_message_text {
    height: 140px;
    overflow: hidden;
  }
  .blog_box_comment {
    width: 270px;
    height: 280px;
    overflow: hidden;
    margin: 0 auto;
    margin-right: 25px;
  }

  .blog_box_comment_text1,
  .blog_box_comment_text2,
  .blog_box_comment_text3 {
    width: 252px;
    height: 18px;
    overflow: hidden;
  }
  .blog_box_comment span {
    height: 19px;
    overflow: hidden;
  }
  .blog_box_comment .about_box_read--box_comment {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  .nav_menu--modify {
    position: absolute;
    top: 365px;
  }
  .products {
    height: 366px;
  }
  .products_box {
    width: 320px;
    height: 365px;
  }
  .products_box p {
    height: 365px;
    padding: 0 45px;
  }
  .products_box p img {
    margin: 0;
    padding: 0;
  }
  .products_box p img:nth-child(n+2) {
    margin-left: 0;
  }
  .products_box p img:nth-child(2) {
    margin-left: 75px;
  }
  .products_box p img:nth-child(4) {
    margin-left: 90px;
  }
  .products_box p img:nth-child(6) {
    margin-left: 20px;
  }
  .copyright {
    display: none;
  }
  .copyright_box {
    display: none;
  }
  footer {
  height: 202px;
}
.foot {
  width: 320px;
  height: 100%;
  position: relative;
}
.footer_design {
  float: none;
  position: absolute;
  top: 0;
  width: 152px;
  left: 50%;
  margin-left: -76px;
}
.head_nav_menu--footer {
  display: none;
}

}


@media screen and (min-width: 960px) and (max-width: 2800px) {
.left_icon {
margin-left: -1000px;
}


.right_icon {
margin-right: -1000px;
}


}
    

   






